<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Ganaderos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1>Lista de Ganaderos</h1>

    <form method="GET" action="{{ url_for('buscar_ganaderos') }}">
        <input type="text" name="q" placeholder="Buscar ganadero por nombre o apellido">
        <button type="submit">Buscar</button>
    </form>
 <br>

    <a href="{{ url_for('sistema_ganadero') }}">
        <button>Volver a Sistema Ganadero</button>
    </a>
    <a href="{{ url_for('ver_ganaderos') }}">
        <button>Volver a ver todos los ganaderos</button>
    </a>

    <table border=1>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>CI</th>
                <th>Ref. Marca</th>
                <th>Estancia</th>
                <th>Imagen</th>
                <th>Carimbo</th>
                <th>Imagen Carimbo</th>
                <th>Acciones</th> <!-- Nueva columna para botones de acción -->
            </tr>
        </thead>
        <tbody>
            {% for ganadero in ganaderos %}
            <tr>
                <td>{{ ganadero[1] }}</td>
                <td>{{ ganadero[2] }}</td>
                <td>{{ ganadero[3] }}</td>
                <td>{{ ganadero[4] }}</td>
                <td>{{ ganadero[5] }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' ~ ganadero[6]) }}" width="100"></td>
                <td>{{ ganadero[7] }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' ~ ganadero[8]) }}" width="100"></td>
                <td>
                    <!-- Botones para modificar y eliminar -->
                    <button > <a href="{{ url_for('editar_ganadero', ganadero_id=ganadero[0]) }}">Modificar</a></button>
                    <form action="{{ url_for('eliminar_ganadero', ganadero_id=ganadero[0]) }}" method="POST" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>
